.upcomingMatch, .pastMatch
  display flex
  color black
  padding .2rem 0
  text-align center
  position relative
  text-decoration none
  max-width 600px
  align-items flex-start
  font-size .9em


  &.EMREP
    .goals
      display none
    .status
      display block

  &:hover
    background #EEE
    text-decoration none

  .home, .away
    flex 1
    display flex
    align-items center
    width 50%
    .name
      display block
      flex 1
      line-height 20px
      white-space nowrap
      text-overflow ellipsis
      overflow hidden

  .home
    flex 1
    text-align right
    flex-direction row-reverse
    &.unknown
      text-align right
      &::after
        content '■■■■■■■■■■■'
        color #DDD
  .away
    flex 1
    text-align left
    flex-direction row
    &.unknown
      text-align left
      &::before
        content '■■■■■■■■■■■'
        color #DDD

  .time, .goals, .penaltyShootout, .status
    background #AAA
    margin 0 1rem
    padding .2rem
    color white
    //text-shadow 0 1px 1px #222
    font-weight 600
    font-size 12px
    display inline-block
    border-radius 4px

  .goals
    margin 0 .5rem

  .winner
    font-weight 400
    .goals
      background black

  .penaltyShootout
    margin 0
    background #CCC

  .name
    position relative

  .penaltyShootout
    display none
    color black

  .withPenaltyShootout
    .penaltyShootout
      display inline-block
    &.home
      .penaltyShootout
        border-radius 4px 0 0 4px
        margin-left .5em
      .goals
        margin-left 0
        border-radius 0 4px 4px 0
    &.away
      .penaltyShootout
        border-radius 0 4px 4px 0
        margin-right .5em
      .goals
        margin-right 0
        border-radius 4px 0 0 4px

  .cards

    margin 0 1em
    height 20px
    .card
      height 20px
      width 12px
      font-size .8rem
      color white
      display inline-block
      text-align center
      line-height 22px
      border-radius 2px
      &.yellow
        background #e8ce24
      &.red
        background #D0021B
      &:empty
        display none

  .star
    margin 0 .2em

  .status
    display none
    font-weight 200