.upcomingMatch, .pastMatch
  display flex
  color black
  padding .2rem 0
  text-align center
  position relative
  text-decoration none
  max-width 600px
  align-items flex-start

  &:hover
    background #EEE

  .home, .away
    flex 1
    display flex
    align-items flex-start
    .name
      flex 1

  .home
    flex 1
    text-align right
    .unknown
      text-align right
  .away
    flex 1
    text-align left
    .unknown
      text-align left

  .time, .goals
    background #C9C9C9
    margin 0 1rem
    padding .2rem
    color white
    text-shadow 0 1px 1px #222
    font-weight 600
    font-size .8rem
    display inline-block
    border-radius 4px

  .goals
    margin 0 .5rem
    padding .3rem
    &.winner
      background black

  .name
    position relative

  .unknown
    &::before
      content '■■■■■■■■■■■'
      color #DDD


  .cards

    margin 0 1em

    .card
      height 20px
      width 12px
      font-size .8rem
      color white
      display inline-block
      text-align center
      line-height 22px
      &.yellow
        background #D2C738
      &.red
        background #D0021B
      &:empty
        display none
