.infosWrapper
  //padding-bottom 300px
  display flex
  flex-wrap wrap
  border-bottom 1px solid #eeeeee
  h3
    background #EEE
    border-bottom 1px solid #DDD
    color #666
    text-transform uppercase
    text-align center
    padding .5em
  .name
    padding .5em
    font-weight 400

.referees, .stadium, .periods
  min-width 300px
  flex 1 0 auto
  border-right 1px solid #EEE

.referee
  padding .5em
  list-style-type none
  text-align left

.periods .goals span
  display: inline-block
  background #BBB
  color white
  padding .5em
  font-size .8em
  border-radius 4px
  font-weight 800


