.infosWrapper
  //padding-bottom 300px
  display flex
  flex-wrap wrap
  h3
    background #EEE
    border-bottom 1px solid #DDD
    color #666
    text-transform uppercase
    text-align center
    padding .5em
  .name
    padding 1em
    font-weight 400

.referees, .stadium
  min-width 300px
  flex 1
  border-right 1px solid #EEE
.refereesWrapper
  display flex
  flex-wrap wrap

.referee
  flex 1 1 auto
  padding 1em
  border-radius 4px
  border 1px solid #EEE
  margin 1em


