.tab.feed
  box-shadow inset 0 10px 30px rgba(black, .5)
  overflow: hidden; // added for pseudo-element
  position: relative; // added for pseudo-element
  padding 1em
  padding-bottom 5rem
  min-height 800px
  &::before
    content ' '
    position fixed // instead of background-attachment
    width 100%
    height 100%
    top 0
    left 0
    background-color white
    background url('/img/grass-light.jpg') no-repeat center center
    background-size cover
    will-change transform // creates a new paint layer
    z-index -1

  .row.away
    text-align left

  .row.home
    text-align right

  .event
    position relative
    margin-top 1.5em
    background white
    box-shadow 0 5px 10px rgba(black, .6)
    display inline-block
    padding 1em

    img.type
      position absolute
      top 0
      height 3.5em

    p
      display inline-flex
      align-items center
      width 100%

    .subArrow
      margin 0 .5em
    .players
      flex 1
      margin 0 1em
      font-size 1.2em
      font-weight 400
    .time
      font-weight 600
      font-size 1.6em
      color #444

    &.home
      margin-right 48%
      padding-left 60px
      &.withComment
        padding-left 1em
      img.type
        left 0
      p
        flex-direction row-reverse

      .time
        margin-left 1em

    &.away
      margin-left 48%
      padding-right 60px
      &.withComment
        padding-right 1em
      img.type
        right 0
      .time
        margin-right 1em

    &.both
      width 500px
      position relative
      img.type
        right 0
      > p
        text-align center
        display block
      .comment
        max-width 100%

    .comment
      text-align left
      line-height 1.5em
      p
        padding .5em
      img
        width 100%


  .home .comment,
  .away .comment
    background white
    border 1px solid #DDD
    margin-top 1rem
    max-width 400px

  .group

    display inline-block
    background #FFF
    box-shadow 0 5px 15px rgba(black, .8)
    padding 2rem
    max-width 650px
    text-align justify

    .comment
      margin-bottom 1rem
      line-height 1.5em
      font-size .9rem
      &:first-child
        font-size 1.2rem
      &:last-child
        margin-bottom 0
      img
        margin-top 1rem
        width 100%

figure
  position relative
  figcaption
    position absolute
    bottom 5px
    right 5px
    color white
    text-shadow 1px 1px 0 #000
    font-size .9rem

#toggleComments
  position fixed
  z-index 1000
  bottom 0
  width 300px
  margin-left -150px
  left 50%
  background dodgerblue
  color white
  border none
  padding 1em
  border-radius 1em 1em 0 0
  font-size .8em
  cursor alias
  &:hover
    opacity 1
  &:focus
    outline none