.sectionNavbar
  color white
  background linear-gradient(#5A5A5A, #151515);
  font-size 1rem
  border-top 1px solid black
  border-bottom 1px solid black
  text-align center
  .wrapper
    margin 0 auto
    display flex
    align-items center
    justify-content space-between
    flex-wrap wrap
    max-width 1080px
  button
    margin 4px .5rem
    background black
    font-size 1.2em
    color white
    border-radius 1.5em
    cursor pointer
    width 1.5rem
    height 1.5rem
    display block
    line-height 1rem
    border 1px solid black
    text-shadow 0 1px 0 black
    &:hover
      background linear-gradient(#333, #555)
    &:focus
      outline none
    &.hidden
      visibility hidden
  a
    //text-transform uppercase
    transition background .2s linear
    padding .3rem .5rem
    margin 4px .5rem
    display inline-block
    text-shadow 1px 1px 1px black
    border-radius 4px
    border 1px solid rgba(black, .3)
    color white
    text-decoration none
    &:hover
      border 1px solid rgba(black, .7)
      background rgba(white, .1)
    &.active, &:active
      background linear-gradient(#000, #383838)

    &.important
      background #E6153B
      color white
      font-weight 400

    &.next, &.prev
      display none
  &.light
    border-color #EEE
    border-bottom-color #d9d9d9
    background linear-gradient(#fbfbfb, #f4f4f4)
    a
      color black
      text-shadow none
      border-color transparent
      &:hover
        border 1px solid #EEE
        background rgba(black, .05)
      &.active, &:active
        border 1px solid #DDD
        background linear-gradient(#DDD, #EEE)

      &.important
        color white
        font-weight 400