.teamCompoPlayer
  position relative
  display inline-block
  padding 1rem
  border 1px solid #EEE
  svg
    display block
    margin 0 auto
    margin-bottom 5px
    height 40px
  path
    fill #AAA
  .number
    position absolute
    top 30px
    left 0
    width 100%
    text-align center
    display block
    color white
    font-weight 600
