.teamPlayer
  position relative
  display inline-block
  padding 1rem
  width 100px
  font-size .9rem

  a
    text-decoration none
    color #555
    &:hover
      color black
      text-decoration underline

  svg
    display block
    margin 0 auto
    margin-bottom 5px
    height 45px
  path
    fill #AAA
  .number
    position absolute
    top 30px
    left 0
    width 100%
    text-align center
    display block
    color white
    font-weight 600
    font-size .9rem
    text-shadow 0 1px 1px rgba(black, .5)


  .faceshot
    position absolute
    z-index 10
    display none
    padding .5rem
    background white
    box-shadow 0 3px 10px rgba(black, .5)
    width 150px
    left 50%
    top -200px
    margin-left -75px
    img
      width 100%

  &:hover .faceshot
    display block
