.upcomingMatch, .pastMatch
  display block
  color black
  padding .2rem 0
  text-align center
  position relative

  &:hover
    background #EEE
  .home, .away
    position absolute
    top 0
    line-height 1.5rem

  .home
    right 50%
    margin-right 2rem
  .away
    left 50%
    margin-left 2rem

  .time
    background #C9C9C9
    margin 0 1rem
    padding .2rem
    color white
    text-shadow 0 1px 1px #222
    font-weight 600
    font-size .8rem
    display inline-block
    border-radius 4px
