#competitions
  .pageWrapper
    display flex
    flex-wrap wrap
    justify-content center
  .competition
    text-align center
    color black
    padding 1em
    margin 1em
    box-shadow 0 2px 10px rgba(black, .1)
    text-decoration none
    transition transform .1s linear, box-shadow .2s linear
    max-width 200px
    &:hover
      transform scale3d(1.1,1.1,1.1)
      box-shadow 0 10px 20px rgba(black, .2)

    img
      max-height 200px
      display block
      margin 0 auto

    span
      display block
      padding 1em