#competition
  padding 2em 0

  .competitionWrapper
    max-width 1200px
    margin 0 auto

  .teamsWrapper
    display flex
    flex-wrap wrap
    perspective 1000px

  .team
    transition transform .1s linear
    display block
    text-decoration none
    color black
    padding 1em
    text-align center
    width 150px
    &:hover
      text-decoration underline
      transform scale3d(1.1, 1.1, 1.1)

    .logo
      position relative
    .logo:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      opacity 0
      background linear-gradient(135deg, rgba(white,.2) 0%, rgba(white,.5) 50%, rgba(white,.1) 51%, rgba(white,0) 71%, rgba(white,0) 100%);
      transition opacity .4s linear, transform .4s linear
      transform scale3d(2, 2, 2)

    &:hover .logo:after
      opacity 1
      transform scale3d(1,1,1)

    img
      filter drop-shadow(0 5px 10px rgba(black, .3))

  header
    display flex
    flex-wrap wrap
    .logo
      margin 1em
      padding 1em
      max-width 250px
      box-shadow 0 5px 20px rgba(black, .3)
      border-radius 4px
      img
        max-width 100%
    .infos
      padding 1em
    h1
      text-transform uppercase
      font-size 2em
      font-weight 400
      color #666

