#liveMatch
  text-align center

  .vs
    background linear-gradient(#000, #666666)
    color white
    font-size 3em
    padding 1em
    font-weight 900
    font-style italic
    line-height 2em
    text-shadow 2px 2px 2px #000
    display none

  &.EMNCO
    .timeAndScore
      display none
    .vs
      display block

  .feedBackground
    display none
    position fixed
    height 100%
    width 100%
    left 0
    bottom 0
    z-index -1

  &[data-tab=events] .feedBackground
    display block

  .tab
    background white

  > header
    background url(/img/Euro-2016-Credit-Remy-Martineau.jpg) white
    background-size cover
    background-position bottom
    padding-top 5rem

  .competitionWrapper
    perspective 1000px

  .competition
    transition transform .2s linear, box-shadow .3s linear
    transform-origin bottom
    display block
    box-sizing border-box
    text-align center
    box-shadow 0 0 10px rgba(black, .5)
    margin 0 auto
    width 200px
    min-width 200px
    padding 2rem
    border-radius 8px 8px 0 0
    background white
    &:hover
      transform rotateX(-10deg)
      box-shadow 0 0 20px rgba(black, .9)
    img
      max-width 100%


  .status
    background #000
    color white
    text-transform uppercase
    padding .5rem
    font-size 1.5rem
    font-weight 100
    &.EMENC
      background #E6153B

  .summaryMobile
    display none
    h3
      font-weight 400
      text-transform uppercase

  .summary
    height 200px
    background white
    position relative
    display flex
    .team
      padding 1em
      flex 1

    .fixed
      display none

    .normal
      display block

    h3
      font-weight 200
      font-size 2em
      padding-bottom 0
      text-transform uppercase
    .logo
      //outline 1px blue solid
      height 125px
      img
        max-height 100%
        filter: drop-shadow(0 5px 10px rgba(black, .3));

    .home
      text-align right
    .away
      text-align left

  .winner
    h3
      position relative
      font-weight 500

  .qualified
    h3
      &:before, &:after
        content '★'
        //height 40px
        //width 40px
        display none
        //margin 0 10px
        position relative

    &.home h3:before
      display block
      float right
    &.away h3:after
      display block
      float left

  .scorers
    font-size .9em
    padding .3em 0
    a
      text-decoration none
      color #333
      &:hover
        color black
        text-decoration underline
  .timeAndScore
    transition box-shadow linear .2s
    box-shadow 0 0 10px rgba(black, .2)
    border-right 1px solid black
    border-left 1px solid black
    background linear-gradient(#000, #666666)
    margin 0 auto
    width 200px
    height 100%
    padding 1em
    color white
    .time
      font-size 2em
      font-weight 600
      text-shadow 0 1px 2px black
      margin-bottom .5em

    .score
      font-size 2em
      span
        background white
        display inline-block
        color black
        border-radius 4px
        box-shadow 0 1px 3px black
        padding .4em
        margin .1em

        &.penaltyShootout
          border 1px solid #555
          box-shadow inset 0 2px 4px #222
          text-shadow 0 1px 2px black
          background #444
          color white
          font-size .8em

.scroll #liveMatch
  .fixed
    display block
  .normal
    display none

  #matchTabs > .sectionNavbar
    position fixed
    width 100%
    top 139px
    z-index 90
    box-shadow 0 10px 40px rgba(black, .5)
  .summary
    position fixed
    width 100%
    top 39px
    left 0
    z-index 100
    height 100px
    font-size .7rem
    .score
      font-size 2em
    .team
      display flex
      align-items center
      h3
        flex 1
        margin 0 1rem
      &.away
        flex-direction row-reverse

    .logo
      height 100px

  .summaryPlaceholder
    height 240px
    background white

  .scorers
    display none




@import '../partials/matchFeed.styl'
@import '../partials/matchCompo.styl'
@import "../partials/penaltyShootouts.styl"
@import "../partials/matchInfos.styl"

@media only screen and (max-width: 700px)


  .tab.feed
    font-size .8rem
    .event
      min-width auto
      width auto
      &.both
        width 100%

  #liveMatch > header > .summary,
  .scroll #liveMatch > header > .summary
    display none

  .scroll .summaryPlaceholder
    display none
  .scroll #liveMatch #matchTabs > .sectionNavbar
    position relative
    top 0

  #liveMatch .summaryMobile
    display block
    .row
      background white
      display flex
      .team
        text-align center
        padding 1rem
        flex 1
        .logo
          width 100px
          display inline-block
          img
            width 100%

    .timeAndScore
      width 100%

