#liveMatches

  .matches
    text-align center

.competitions
  .wrapper
    display flex
    flex-wrap wrap

.matchesWrapper
  max-height 400px
  overflow-y scroll

.competition
  flex 1
  text-align center
  border-right 1px solid #EEE
  border-bottom 1px solid #EEE
  min-width 400px
  header
    background #F9F9F9
    padding 1rem
    a
      display block

  ul
    padding 1.5rem 0
    list-style-type none
    margin 0