#team
  padding 2em 0

  .teamWrapper
    max-width 1200px
    margin 0 auto
    text-align center

  .competitionWrapper
    display flex

    .competition
      flex 1 0 auto
      min-width 330px

      .matchesWrapper
        max-height 100%
