@import "reset.styl"

html
  height 100%
  overflow hidden

body
  height 100%
  overflow-y scroll
  overflow-x hidden
  font-family 'Lato', "Gill Sans", Helvetica, Arial, sans-serif
  font-weight 200
  -webkit-overflow-scrolling touch

.fontFigures
  font-family "Avenir Next", Helvetica, sans-serif
  font-weight 400

.pageWrapper
  max-width 1200px
  margin 0 auto
  padding 100px 0

h1, h2
  text-align center

h2
  font-weight 200
  text-transform uppercase
  font-size 2rem
  margin 6rem 0 2rem 0

h4
  font-size .75rem
  text-transform uppercase
  color #666

.clear
  clear both

nav
  text-align center

a.button
  display inline-block
  background #D0021B
  box-shadow 0 2px 5px 0 rgba(black, 0.26)
  border-radius 4px
  color white
  text-align center
  text-decoration none
  padding .5rem 1rem

.tabs .tab
  display none
  width 100%
  &.active
    display block

body > header
  background white
  h1
    padding 2rem
    padding-bottom 4rem
    background white
    img
      max-width 100%
  nav
    margin 0 auto
    padding-bottom 1em
    background white
    width 100%
    font-size 1em
    ul
      margin 0 auto
      max-width 1000px
      display flex
      flex-wrap wrap
      justify-content space-around
      a
        margin-top 1em
        font-size 1.2em
        text-decoration none
        display inline-block
        padding .2em
        border-bottom 2px solid black
        color black
        text-transform uppercase
        &:hover
          color white
        &.scoreboard
          border-color #D0021B
          &:hover
            background-color #D0021B
        &.competitions
          border-color #F8E71C
          &:hover
            background-color #F8E71C
        &.teams
          border-color #7ED321
          &:hover
            background-color #7ED321

body.scroll > header nav
  position fixed
  top 0
  z-index 1000
  font-size .6rem
  box-shadow 0 1px 4px rgba(black, .2)
  a
    border-bottom-width 2px
  ul
    max-width 600px


@media only screen and (max-width: 500px)
  body > header > nav
    font-size .6rem


@import "views/scoreboard.styl"
@import "views/match.styl"
@import "views/competition.styl"
@import "views/competitions.styl"
@import "views/team.styl"
@import "partials/sectionNavbar.styl"
@import "partials/condensedMatch.styl"
@import "partials/teamPlayer.styl"






