@import "reset.styl"

html
  height 100%
  overflow hidden

body
  height 100%
  overflow auto
  font-family 'Lato', "Gill Sans", Helvetica, Arial, sans-serif
  font-weight 200


.fontFigures
  font-family "Avenir Next", Helvetica, sans-serif
  font-weight 400

h1, h2
  text-align center

h2
  font-weight 200
  text-transform uppercase
  font-size 2rem
  margin 6rem 0 2rem 0

h4
  font-size .75rem
  text-transform uppercase
  color #666

.clear
  clear both

nav
  text-align center

a.button
  display inline-block
  background #D0021B
  box-shadow 0 2px 5px 0 rgba(black, 0.26)
  border-radius 4px
  color white
  text-align center
  text-decoration none
  padding .5rem 1rem

.tabs .tab
  display none
  width 100%
  &.active
    display block

body > header
  background white
  h1
    padding 2rem
    background white
  nav
    max-width 1000px
    margin 0 auto
    margin-top 2rem
    padding-bottom 1rem
    background white
    ul
      display flex
      flex-wrap wrap
      justify-content space-around
      a
        margin-top 1rem
        font-size 1.4rem
        text-decoration none
        display inline-block
        padding-bottom .2rem
        border-bottom 3px solid black
        color black
        text-transform uppercase
        &.scoreboard
          border-color #D0021B
        &.competitions
          border-color #F8E71C
        &.teams
          border-color #7ED321

@import "views/scoreboard.styl"
@import "views/match.styl"
@import "partials/liveMatchScoreboard.styl"
@import "partials/sectionNavbar.styl"
@import "partials/condensedMatch.styl"
@import "partials/teamPlayer.styl"






