@import "reset.styl"

body
  font-family "Gill Sans", Helvetica, Arial, sans-serif
  font-weight 200

.fontFigures
  font-family "Avenir Next", Helvetica, sans-serif
  font-weight 400

h1, h2
  text-align center

h2
  font-weight 200
  text-transform uppercase
  font-size 2rem
  margin 6rem 0 2rem 0

.clear
  clear both

nav
  text-align center

a.button
  display inline-block
  background #D0021B
  box-shadow 0 2px 5px 0 rgba(black, 0.26)
  border-radius 4px
  color white
  text-align center
  text-decoration none
  padding .5rem 1rem

.tabs .tab
  display none
  width 100%
  &.active
    display block

@import "views/scoreboard.styl"
@import "views/match.styl"
@import "partials/liveMatchScoreboard.styl"
@import "partials/sectionNavbar.styl"
@import "partials/upcomingMatch.styl"
@import "partials/pastMatch.styl"
@import "partials/teamCompoPlayer.styl"






