<div id="competitions">
    <div class="pageWrapper">
        {{#each this}}
            <a href="/competitions/{{id}}" class="competition">
                <img src="/data/events/{{id}}.png" alt="{{label}}">
                <span>{{label}}</span>
            </a>
        {{/each}}
    </div>
</div>