<div id="liveMatch">
    <div class="competition">
        <img src="https://campsi.imgix.net/56261291c0e9425a0b9404d8-Hkoqy3LI.png?fit=clamp&h=100&w=100"
             alt="{{competition.name}}">
    </div>
    <div class="status">
        MATCH EN COURS
    </div>
    <div class="summary">
        <div class="team home">
            <h3>Espagne</h3>
            <div class="logo">
                <img src="https://campsi.imgix.net/56261291c0e9425a0b9404d8-BkV4rwUU.png?fit=clamp&h=150&w=150" alt="">
            </div>
        </div>
        <div class="team away">
            <h3>Espagne</h3>
            <div class="logo">
                <img src="https://campsi.imgix.net/56261291c0e9425a0b9404d8-SyHdHP8U.png?fit=clamp&h=150&w=150" alt="">
            </div>
        </div>
        <div class="timeAndScore fontFigures">
            <div class="time">38'</div>
            <div class="score">
                <span class="home">1</span>
                <span class="away">0</span>
            </div>
        </div>
    </div>

    <nav class="sectionNavbar light">
        <a href="#" class="important">LIVE</a>
        <a href="#">Composition</a>
        <a href="#">Arbitres</a>
        <a href="#">Stade</a>
    </nav>
    <div class="tabs">
        <div class="tab feed">
            <div class="event home">
                Event home
            </div>
        </div>
    </div>
</div>