<div id="liveMatch">
    {{> matchHeader }}
    <div class="tabs" id="matchTabs">
        <nav class="sectionNavbar light">
            <a href="#evenements" class="active">Événements</a>
            {{#if penaltyShootouts}}
                <a href="#tirs-au-but">Tirs au but</a>
            {{/if}}
            <a href="#composition">Composition</a>
            <a href="#infos">Infos</a>
        </nav>
        {{> matchTabEvents}}
        {{> matchTabCompo}}
        {{> matchTabInfos}}
        {{#if penaltyShootouts}}
            {{> matchTabPenaltyShootouts }}
        {{/if}}
    </div>
</div>