<article class="competition pastMatches">
    {{> scoreboardCompetitionHeader competition}}
    <div class="matchesWrapper">
        <ul>
            {{#group matches by="phase"}}
                <li class="phase">{{t value 'const'}}</li>
                {{#each items}}
                    <li>{{> pastMatch this}}</li>
                {{/each}}
            {{/group}}
        </ul>
    </div>
</article>