<article class="competition pastMatches">
    {{> scoreboardCompetitionHeader }}
    <div class="matchesWrapper">
        <ul>
            {{#each matches}}
                <li>{{> pastMatch this}}</li>
            {{/each}}
        </ul>
    </div>
</article>