{{#if faceshot}}
    <div class="faceshot">
        <img src="/data/players/faceshots/{{id}}.jpg" width="150" height="200" alt="{{name}}">
        <p class="name">{{fullname}}</p>
        <p class="age">{{age birthDate 'YYYYMMDD'}}</p>
    </div>
{{/if}}