<nav>
    <ul>
        <li><a href="/#today">{{t 'today' 'app.mainMenu'}}</a></li>
        <li><a href="/#upcoming">{{t 'upcoming' 'app.mainMenu'}}</a></li>
        <li><a href="/#past">{{t 'past' 'app.mainMenu'}}</a></li>
        <li><a class="competitions" href="/competitions">{{t 'competitions' 'app.mainMenu'}}</a></li>
        <!--<li><a class="teams" href="/equipes">Équipes</a></li>-->
    </ul>
</nav>