<div class="tab" id="composition">
    <div class="compositionWrapper">
        <div class="team home">
            {{> teamCompo home}}
        </div>
        <div class="team away">
            {{> teamCompo away}}
        </div>
    </div>

</div>