<div class="tab" id="infos">
    <div class="infosWrapper">
        <h4>Arbitres</h4>
        <ul>
            {{#each referees}}
                <li>{{name}} {{country}} {{role}}</li>
            {{/each}}
        </ul>
        <h4>Stade</h4>

    </div>
</div>
