    <a class="pastMatch {{status}}" href="/matches/{{id}}/">
        {{> pastMatchTeam home side="home"}}
            <span class="status">{{t status 'const'}}</span>
        {{> pastMatchTeam away side="away"}}
    </a>