<header>
    <a href="/competitions/euro-2016{{competition.slug}}">
        <img src="https://campsi.imgix.net/56261291c0e9425a0b9404d8-Hkoqy3LI.png?fit=clamp&h=100&w=100"
             height="100"
             width="100"
             alt="{{competition.name}}">
        {{competition.label}}
    </a>
</header>