<div class="upcomingMatch" href="/matches/{{id}}">
    <span class="home {{#unless home.name}}unknown{{/unless}}">{{home.name}}</span>
    <span class="time fontFigures">{{time}}</span>
    <span class="away {{#unless away.name}}unknown{{/unless}}">{{away.name}}</span>
</div>